 body{
    background-color: rgb(254, 242, 239);
 }

 header{
    background-color: rgb(102, 152, 101);
    padding: 30px;
    text-align: center;
    width: 400;
    margin: 0px auto 0px auto;
    font-size: 50px;
    color: aliceblue;
 }
 
 .contenedor {
    display: flex;
    justify-content: center;
    align-items: up;
    flex-wrap: wrap;
 }
.imagenes {

    width: 800px; 
    height: 800px;
}
img{
    margin: 100px auto 0px 30px;  
    width: 700px;
}
.formulario{
    margin: 100px auto 0px auto;  
    width: 300px;
}
form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

select{
    font-family: sans-serif;
    width: 50%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-weight: 200;
    font-size:18px;
}
input{
    display: inline;
    font-family: 'Poppins',sans-serif;
    width: 236px;
    border: 1px solid #ced4da;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 200;
    font-size:18px;
}
input[type="submit"]{
    background-color: #fd0c49;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
}


 

